:root {
    --bg-color: oklch(0.227 0.0543 299 / 88.05%);
    --text-color:oklch(95.062% 0.01398 354.568 / 0.881);
    color: var(--text-color);
    background-color: var(--bg-color);
    --col-num: 1
}
#menu {
    display: grid;
    grid-template-columns: repeat(var(--col-num), 1fr);
    row-gap: 5%;
    column-gap:2%;
    & > * {
        border: 1px solid cornflowerblue;
        border-radius: 5px;
        padding: 5%;
        display: flex;
    }
    #games {
        display: flex;
        gap: 5%;
        button {
            flex-grow:1;
            padding: calc(1vmin + 0.5rem);
            border: 2px solid;
            border-radius: 0.5rem;
        }
    }
}

@media (min-width: 600px) {
  :root {
    --col-num: 2
  }
}
@media (min-width: 1000px) {
  :root {
    --col-num: 3
  }
}