:root {
  --bg-color: oklch(0.227 0.0543 299 / 88.05%);
  --text-color: oklch(95.062% 0.01398 354.568 / 0.881);
  color: var(--text-color);
  background-color: var(--bg-color);
  --col-num: 1;
}
body > * + * {
    margin-bottom: 1rem;
}
#menu {
  display: grid;
  grid-template-columns: repeat(var(--col-num), 1fr);
  row-gap: 5%;
  column-gap: 2%;
  & > * {
    border: 1rem solid cornflowerblue;
    border-radius: 5px;
    padding: 5%;
    display: flex;
    min-height: 200%
  }
  #games {
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: center;
    button {
      flex-grow: 1;
      padding: calc(1vmin + 0.5rem);
      border: 2px solid;
      border-radius: 0.5rem;
    }
  }
  #posts {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 1.4em
  }
}

@media (min-width: 37.5em) {
  :root {
    --col-num: 2;
  }
}
@media (min-width: 62.5em) {
  :root {
    --col-num: 3;
  }
}