@font-face {
  font-family: "Uiua386";
  src: url("/fonts/Uiua386.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

code {
  font-family: "Uiua386", sans-serif;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  max-width: 100vw;
  background: linear-gradient(
    180deg,
    oklch(94% 0.034 210),
    oklch(95% 0.03 220),
    transparent 50%
  );
  padding: 5vmin;
  display: flex;
  flex-direction: column;
  gap: 10%;
  text-wrap: wrap;
}
