@font-face {
    font-family: "Uiua386";
    src: url("/fonts/Uiua386.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@layer modules {
  .post {
    display: flex;
    background-color: oklch(92.979% 0.08305 164.009);
    width: 90vw;
    height: 10vh;
    color: navy;
    text-decoration: none;
    align-items: center;
    font-size: 1.5rem;
    font-family: "Uiua386", sans-serif; 
  }
  .post--new {
    border: 1px solid red;
  }
}

#posts {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(
    180deg,
    oklch(94% 0.034 210),
    oklch(95% 0.03 220),
    transparent 50%
  );
  padding: 5vmin;
}
